
.profile {
    padding: 10px;
}

.profile img {
    max-width: 100%;
    margin-right: 0px; /* Espaço à direita da imagem */
}

.details-container[open] {
    width: 120%;
}

.details-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 20px;
    gap: 10%;
    padding-left: 20%;
    flex-wrap: nowrap;
}

#contact {
    display: grid;
    padding: 24px 32px 32px;
}

#contact img {
    width: 75px;
    justify-self: center;
    margin-top: 10px;
}

section .title-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

section .about-img {
    max-height: 200px;
    max-width: 200px;
}

summary:hover {
    transform: scale(1.1);
    cursor: pointer;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section .personal {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-right: 20px;
}

section .about {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

section .content-title {
    text-align: center;
}

section .content-about {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

section p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    
}

input {
    display: block;
  }

  
/* animation*/
/*Definir a animação, qualquer nome, falar onde começa e onde termina;
Pelo menos duas propriedades; nome e tempo; Pode ter delay, importante que coloque as propriedades antes para ficar legal*/

/*Pode ir aplicando propriedades direto nos elementos*/

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

form {
    background-color: antiquewhite;
    
}

