
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container img {
    max-width: 100%;
    height: auto;
}


.profile {
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: row; /* Layout em linha (horizontal) */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    margin-bottom: 20px; /* Espaço entre a foto e o parágrafo */
}

.profile img {
    max-width: 100%;
    margin-right: 0px; /* Espaço à direita da imagem */
}

.social-list {
    justify-content: center;
    transition: transform .3s;
    transform: scale(1.1);
}

section .title-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

section .about-img {
    max-height: 200px;
    max-width: 200px;
}

section ul li:hover {
    transform: scale(1.1);
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section .personal {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

section .about {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

section .content-title {
    text-align: center;
}

section .content-about {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

section p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    
}

/* animation*/
/*Definir a animação, qualquer nome, falar onde começa e onde termina;
Pelo menos duas propriedades; nome e tempo; Pode ter delay, importante que coloque as propriedades antes para ficar legal*/

/*Pode ir aplicando propriedades direto nos elementos*/

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    /*main pega o section do filho numero 1*/
    animation-delay: 0s;
}

main section:nth-child(2) {
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

form {
    background-color: antiquewhite;
    
}

